.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

::ng-deep .mat-select-content{
  font-size: 0.75em;
}