<div class="main-div">
    <mat-card>
        <mat-card-title>Persona: {{ people.Id }}</mat-card-title>
        <mat-card-content>
            <form [formGroup]="peopleDetailForm">
                <p>
                    <mat-form-field>
                        <input type="text" matInput [(ngModel)]="people.Nombre" placeholder="Nombre"
                            formControlName="name" maxlength="20">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input type="number" matInput [(ngModel)]="people.Edad" placeholder="Edad" formControlName="age"
                            maxlength="3">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput [(ngModel)]="people.Ciudad" placeholder="Ciudad"
                            formControlName="city" maxlength="20">
                    </mat-form-field>
                </p>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!peopleDetailForm.dirty || !peopleDetailForm.valid">Guardar</button>
            <button mat-raised-button color="secundary" (click)="gotoPeople()">Volver</button>
        </mat-card-actions>
    </mat-card>

</div>