<mat-toolbar color="primary" class="expanded-toolbar">
  <span class="fill-remaining-space"></span>
  <ng-container *ngIf="currentUser">
    <div class ="userLoged" ><u> Hola, {{ currentUser.username  }} </u></div>
  </ng-container>
  <a type="button" routerLink="/login" *ngIf="!currentUser" >
    <mat-icon class="icon">power_settings_new</mat-icon>
      <span class="label">Login</span>
  </a>
  <a type="button" routerLink="/login" *ngIf="currentUser" (click)="logout()" >
    <mat-icon class="icon">exit_to_app</mat-icon>
    <span class="label">Logout</span>
</a>
 
</mat-toolbar>


<!-- <nav class="toolbar" role="banner">
  <a routerLink="/index">Inicio</a>
</nav> --> 



<router-outlet></router-outlet>